@{
    ViewBag.Title = "About";
}
<p><h4>📊 System designed for processing the results of open source repositories' discovery</h4></p>
<p><a href="https://github.com/IPMITMO/statan">See project on GitHub</a></p>
