@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Statan</h1>
    <p class="lead">System designed for processing the results of open source repositories' discovery</p>
    <p><a href="https://github.com/IPMITMO/statan" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Code analysis</h2>
        <p>
            Static program analysis is the analysis of computer software that is performed without actually 
            executing programs. In most cases the analysis is performed on some version of the source code, 
            and in the other cases, some form of the object code.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Static_program_analysis">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coala</h2>
        <p>
            Coala provides a unified interface for linting and fixing code with a single configuration file,
            regardless of the programming languages used.
            This project use modified version of coala for storing the analayzer results in database.
            </br>
            </br>
        </p>
        <p><a class="btn btn-default" href="https://coala.io/#/about">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web application</h2>
        <p>
            This web application provides the visual representation of analysis data which have certain contract
            and stored in a database.
            </br>
            </br>
            </br>
            </br>
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>